!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = @title || 'SuperHappyDevHouse CO'
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{:name => 'description', :content => 'Una reunión informal de personas interesadas en experimentar los límites de los sistemas así como en construir cosas nuevas por curiosidad intelectual y simple diversión. En otras palabras, una Fiesta Hacker.' }
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Reenie+Beanie', :type => 'text/css', :media => 'screen'} 
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Anonymous+Pro', :type => 'text/css', :media => 'screen'} 
    %link{:rel => 'stylesheet', :href => '/reset.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/global.css', :type => 'text/css', :media => 'all'}
  %body
    #next-event
      %p
        25/08/2012 09:00:00 a 21:00:00 en #SocialColectivo!
        %a{ :href => 'https://docs.google.com/spreadsheet/ccc?key=0AmU6S88WQNlLdFl3UTdsUHIxZFhrT2hTT3RNVWtvN0E#gid=0'}
          %em (La lista de invitados)
        %a.rsvp{ :href => 'https://docs.google.com/spreadsheet/viewform?formkey=dFl3UTdsUHIxZFhrT2hTT3RNVWtvN0E6MQ', :title => 'It\'s free' }
          !Unirse a la #Fiesta¡

    = yield

    #footer
      %p
        Hosts de la fiesta:
        %a{ :href => 'https://twitter.com/senorpasajero' }
          @senorpasajero
        y
        %a{ :href => 'https://twitter.com/limitedmage' }
          @limitedmage
        , en caso de no encontrarlos pregunte por
        %a{ :href => 'https://twitter.com/elramireza' }
          @elramireza
        !
        
