!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = @title || 'SuperHappyDevHouse CO'
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{:name => 'description', :content => 'Una reunión informal de personas interesadas en experimentar los límites de los sistemas así como en construir cosas nuevas por curiosidad intelectual y simple diversión. En otras palabras, una Fiesta Hacker.' }
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Reenie+Beanie', :type => 'text/css', :media => 'screen'} 
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Anonymous+Pro', :type => 'text/css', :media => 'screen'} 
    %link{:rel => 'stylesheet', :href => '/reset.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/global.css', :type => 'text/css', :media => 'all'}
  %body
    #next-event
      %p
        El 16 de Marzo de 2013 desde las 09:00 a las 21:00:00 en 
        %a{ :href => 'http://www.hackbo.co/hackboweb/default/evento/222', :target=> '_blank'}
          HackBo (HackerSpace Bogotá)
        %a.rsvp{ :href => 'http://shdhco1303.eventbrite.com', :title => 'Es Gratis!' , :target=> '_blank'}
          !Unirse a la #Fiesta¡

    = yield

    #footer
      %p
        Siguenos en: 
        %a{ :href => 'https://www.facebook.com/HackBo' }
          Facebook
        y
        %a{ :href => 'https://twitter.com/hackbo' }
          Twitter        
